output/*
/test*
**/__pycache__/**
local_configs/*
local_output/*
obsidianhtml.egg-info
build.ps1
build/*
tmp/*
**/.ipynb_checkpoints/**
**/geckodriver.log
/obsidianhtml/src/installer/dist/**
/obsidianhtml/src/html/master.css