**/__pycache__/**
*.egg-info
build/*

output/*
input/*
/test*
local_configs/*
local_output/*
build.ps1
tmp/*
**/.ipynb_checkpoints/**
**/geckodriver.log
/obsidianhtml/src/installer/dist/**
/obsidianhtml/src/html/css/master.css
result