/*  ----------------------------------------- GRAPHS ------------------------------------------------ */
* {
    --graph-bg: #202020;
}

.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
    cursor:grab;
}

text {
    font-family: sans-serif;
    font-size: 10px;
    cursor: pointer;
}

.graph_svg {
    width: 100%;
    height: 400px;    
    border:1px solid black;
    margin-bottom: 0rem;
    display: none;
    margin-top: 1rem;
}
.graph_div {
    width: 100%;
    height: 400px;    
    margin-bottom: 0rem;
    display: none;
    margin-top: 1rem;

    border-radius: 0.5rem;
    overflow: hidden;
}

.graph_div_full{
    width: 100%;
    height: 80vh;
    margin-bottom: 0rem;
    margin-top: 1rem;
}

.graph_button {
    width: 100%;
    border: none;

    background-color: var(--divider-color);
    color: var(--color-accent);
    cursor: pointer;
    
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-right: 0.2rem;

    padding: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;

    flex: auto
}

.graph_type_button {
    flex: fit-content;
    margin-right: 0;
    background-color: var(--bg-accent2);
    color: var(--bg-accent);
}
.graph-button-row {
    display:flex;
}

.graph_header_div {
    width: calc(1.6rem - 6px);
    height: calc(1.6rem - 6px);
    margin-right: 0.2rem;
    float: right;
}    

.graph_header_div_svg {
    width: 1.3rem;
}
/*  ----------------------------------------- /GRAPHS ------------------------------------------------ */
