/*  ----------------------------------------- LAYOUT: Documentation ------------------------------------------------ */
body {
    width: 100vw;
    height: 100vh;
    position: static;
    overflow: hidden;
}

.container {
    flex-grow: 1;
    flex: auto;
    flex: 100;
    overflow-y: scroll;
    height: calc(100vh - 5rem);
    padding-top: 0.5rem;
}


.external-link::after {
    background: transparent url({html_url_prefix}/obs.html/static/external.svg) 0 0 no-repeat;
    background-size: auto;
    background-size: 16px;
    content: "";
    height: 16px;
    margin-left: 3px;
    width: 16px;
    display: inline-block;
    filter: invert(90%) sepia(6%) saturate(9%) hue-rotate(14deg) brightness(90%) contrast(93%);
}

.navbar-link {
    display: block;
    padding: 0.7rem;
    border-radius: 0.4rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin-top: -0.2rem;
    margin-bottom: 0.7rem;
    max-height: 1.5rem;
}

span.tag {
    font-weight: 600;
    color: rgb(57, 88, 136);
    text-transform: capitalize;
}

@media (max-width: 840px) {

    .container {
        width: calc(100vw - 6rem);
    }
    .container:after {
        content: "\a\a\a\a\a";
        white-space: pre;
    }
    .container-clickback {
        display: none;
    }
    .single_tab_page {
        width: 100vw;
        max-width: 100vw;
        margin:0rem;
        margin: auto;
    }  
}

@media (max-width: 602px) {
    #header_flex {
        flex-direction: column;
        margin-top: -1rem;
    }
    .navbar-button {
        display: block;
    }
    #homelink {
        display: none
    }
    .header {
        margin-bottom: 0rem;
        margin-top: 1.5rem
    }
}

@media (max-width: 450px) {
    .container {
        width: unset;
    }
}
/*  ----------------------------------------- /LAYOUT: Documentation ------------------------------------------------ */