<!DOCTYPE html>

<html lang="en">

        <head>
                <!-- Page information -->
                <meta charset="UTF-8" />
                <meta name="node_id" content="{node_id}">
                <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                <link rel="shortcut icon" href="/favicon.ico" />

                <!-- Set title -->
                <title>{title}</title>

                <!-- Includes -->
                {dynamic_includes}

                <!-- Onload tweaks -->
                <script>
                        console.log('e0')
                        const CURRENT_NODE = '{pinnedNode}';
                        const HTML_URL_PREFIX = '{html_url_prefix}';
                </script>
        </head>

<body class="theme-obs-light">
        <div id="antiflash" style="display: none;"></div>
        <script>
                console.log('e1')
                document.getElementById('antiflash').style.display = 'block';
        </script>
        {search_html}

        <div id="page_holder" class="flex_col">
                <div id="header" class="header">
                        <div id="header_flex" class="flex_row">
                                <a href="{html_url_prefix}/index.html" id="homelink" title="Clear screen and go to homepage">{title}</a>
                                <div class="navbar-button requires_js" onclick="toggle_menu()">
                                        ≡
                                </div>
                                <div id="navbar" class="navbar requires_js">
                                {{navbar_links}}
                                        <div class="icon-tray">
                                                {theme_button}
                                                {search_button}
                                                {graph_button}
                                                {dirtree_button}
                                                {tags_page_button}
                                                {rss_button}
                                        </div>
                                </div>
                        </div>
                        {theme_popup}
                </div>
                <div class="flex_row">
                        <div id="left_pane" class="left_pane">
                                {left_pane_content}
                        </div>
                        <div class="container">
                                {content}
                                <!-- end content -->
                        </div>
                        <div id="right_pane" class="right_pane">
                                {right_pane_content}
                        </div>
                </div>
        </div>

{footer_js_inclusions}

</body>
</html>
