<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Page information -->
        <meta charset="UTF-8" />
        <meta name="node_id" content="About ObsidianHtml">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <!-- Set title -->
        <title>{title}</title>

        <script>
            var DO_NOT_OVERWRITE_LINK_BEHAVIOR = true;
        </script>

        <!-- Includes -->
        {dynamic_includes}

    </head>

    <body>
        <div class="container">
            {content}
        </div>
        
        {footer_js_inclusions}        
    </body>
</html>