table, th, td {
    border: 1px solid black;
    padding: 0.3rem;
}
table {
    border-collapse: collapse;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(51, 51, 51);
}
.container {
    max-width: 38rem;
    padding: 1rem;
    height: calc(100vh - 3rem);
    overflow: scroll;
}
h1 {
    font-size: 28px;
    line-height: 34px;
    margin-top: 0px;
    margin-bottom: 16px;
    color: inherit;
    font-weight: 600;
}
 /* unvisited link */
 a:link {
    color: rgb(10, 132, 255);
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: rgb(60, 158, 255);
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(10, 132, 255);
    text-decoration: underline;
  }
  
  /* selected link */
  a:active {
    color: blue;
    text-decoration: none;
  } 

  
  a.nonexistent-link:link  ,
  a.nonexistent-link:hover,
  a.nonexistent-link:active,
  a.nonexistent-link:visited {
    color:rgb(156, 156, 156);
}

  .external-link::after {
    background: transparent url(/external.svg) 0 0 no-repeat;
    background-size: auto;
    background-size: 16px;
    content: "";
    height: 16px;
    margin-left: 3px;
    width: 16px;
    display: inline-block;
    filter: invert(90%) sepia(6%) saturate(9%) hue-rotate(14deg) brightness(90%) contrast(93%);
  }


  blockquote {
    background-color: #e6e6e6;
    padding: 0.1rem 1rem 0.1rem 1rem;
    margin: 0rem;
    margin-left: 1rem;
  }
  

  span.tag {
    font-weight: 600;
    color: rgb(222, 22, 251);
    text-transform: capitalize;
  }