<div id="header" class="header">
    <div id="header_flex" class="flex_row">
            <a href="{html_url_prefix}/index.html" id="homelink" title="Clear screen and go to homepage">{title}</a>
            <div id="menu_toggle_button" class="navbar-button requires_js" onclick="toggle_menu()">
                    ≡
            </div>
            <div id="navbar" class="navbar requires_js">
                    {{navbar_links}}
                    <div class="icon-tray">
                            {theme_button}
                            {search_button}
                            {graph_button}
                            {dirtree_button}
                            {tags_page_button}
                            {rss_button}
                    </div>
                    <div style="display: flex; flex-direction:column">
                        <div id="left_pane_toggle_nav" class="left_pane_toggle_nav">{toggle_left_pane_text}</div>
                        <div id="right_pane_toggle_nav" class="right_pane_toggle_nav">{toggle_right_pane_text}</div>
                    </div>
            </div>
    </div>
    {theme_popup}
</div>